


	font-weight: bold; 
}
.italic { 
	font-style: italic; 
}
.underline { 
	text-decoration: underline; 
}
.psmall { 
	font-size: small; 
}
.px-small { 
	font-size: x-small; 
}
.pxx-small { 
	font-size: xx-small; 
}
.pmedium { 
	font-size: medium; 
}
.plarge { 
	font-size: large; 
}
.code { 
	font-family: "Courier New", monospace; 
	color: #774411; /*#774411 brown*/
}  

code  { 
	font-family: "Courier New", monospace; 
	color: #774411; /*#774411 brown*/
	font-size: small; 
}  

.center { 
	text-align: center; 
}
.highlight { 
	color: #ff0000; 
}
.offpage { 
	position: absolute; 
	top: 0; 
	left: -9999px; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: ''; 
	content: none;
}

q { 
	font-style: italic; 
}



.codelist { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 	
	font-family: "Courier New", monospace; 
	color: #774411; 	
	font-size: small; 
} /* needed for phpintroduction*/







.time { 
	position: fixed; 
	top: 5px; 
	left: 5px; 
	color: #cccccd; 
	font-size: large; 
	border: none; 
}
.day { 
	position: fixed; 
	top: 40px; 
	left: 5px; 
	color: #cccccd; 
	font-size: large;
	border: none; 
}
.date { 
	position: fixed; 
	top: 70px; 
	left: 5px; 
	color: #cccccd; 
	font-size: large; 
	border: none; 
}
.inputtime { 
	color: #cccccd; 
	border: none; 
	background-color: #e9e9e2; 
	font-size: large; 
	width: 70px; 
}

img { 
	border-style: none; 
}






/*DROPDOWN MENUS - HORIZONTAL*/


/*hoverpopups type 1*/

#popup { color: #000; background-color: #c0c0c0; }

#popup a, #popup a:visited {
	position: relative;
	display: block;
	width: 130px;
	line-height: 30px;
	text-align: right;
	padding: 0 10px;
	margin: 0;
	border: 1px solid #666;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

#popup a span {
	display: none;
}

#popup a:hover { 
	background-color: #e9e9e2; 
}

/* the IE correction rule */
#popup a:hover	{
	color: #f00; 
	background-color: #e9e9e2;
	text-indent: 0; /* added the default value */
}

#popup a:hover span {
	display: block;
	position: absolute;
	top: 0px;
	left: 170px;
	width: 320px;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
}


/*THUMBNAIL HOVERPOPUPS*/

.thumbnail  {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail:hover {
	background-color: #e9e9e2;
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	/*left: -1000px;*/
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0px; 
	/*padding: 2px;*/
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; 
	width: 200px;
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 300px;/*position where enlarged image should offset horizontally */
}

/*THUMBNAIL2 - thumbnail2 has border and border on hover*/

.thumbnail2 {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail2:hover { 
	background-color: #e9e9e2;
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail2 span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	/*left: -1000px;*/
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail2 span img { /*CSS for enlarged image*/
	border-width: 0px;
	/*padding: 2px;*/
}

.thumbnail2:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; width: 208px;
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 300px;/*position where enlarged image should offset horizontally */
}

a.thumbnail2 img { 
	text-decoration:none;
	z-index: 50; 
}

/*if same attribute for all 4 states, then declare here in
a.thumbnail2*/ 

a.thumbnail2 img:link { 
	border: 2px solid #e9e9e2; 
	background: transparent; 
}

a.thumbnail2 img:visited { 
	border: 2px solid #e9e9e2; 
	background : transparent; 
}

a.thumbnail2 img:hover { 
	border: 2px solid #f00; 
	background : transparent; 
}

a.thumbnail2 img:active { 
	border: 2px solid #e9e9e2; 
	background : transparent; 
}

a.thumbnail2 img { 
	border: 2px solid #e9e9e2; 
}

/*end of hover popup links*/

/*TABLES*/

.example { 
	width: 730px; 
	border: 1px solid blue; 
	border-spacing: 15px; 
}
.example td, th { 
	border: 1px solid black; 
	padding: 3px; 
}
.leftcell { 
	width: 40%; 
}
.nested th { 
	text-align: left; 
	border: none; 
}

